#card1:hover, #card2:hover{
    border-radius:3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 10px 10px rgba(0,0,0,0.12);
    transition: ease-in-out 200ms;
}

/* .shadow{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
    transition: ease-in-out 200ms;
} */

.rocket{
    width:7%;
    
}

#alert{
    transition: fade-out 200ms ;
}
